<ion-header>
  <ion-toolbar>
    <ion-title> Gerät Orientierung </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>Verstrichene Zeit: {{ timeElapsed }} Sekunden</div>
  <ion-button id="leave" shape="round">Abbrechen</ion-button>
  <ion-alert
    trigger="leave"
    header="Willst du wirklich abbrechen?"
    [buttons]="alertButtons"
  ></ion-alert>
  <ion-button routerLink="/task2" *ngIf="isUpsideDown">Zurück</ion-button>
  <ion-button routerLink="/task4" *ngIf="isUpsideDown">Weiter</ion-button>
  <p *ngIf="!isUpsideDown">Bitte das Gerät auf den Kopf stellen</p>
</ion-content>
