<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button id="start" shape="round"></ion-button>
  <ion-alert
    trigger="start"
    header="bitte Name eingeben"
    [inputs]="alertInput"
    [buttons]="alertButtons"
  ></ion-alert>
  <ion-button (click)="openCamera()">Camera Button</ion-button>
  <img [src]="imageUrl" />

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
