<ion-header [translucent]="true">
  <ion-title> SCHNITZELJAGD </ion-title>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button id="present-alert">Teilnehmen</ion-button>
  <ion-alert
    trigger="present-alert"
    header="Name eingeben"
    [buttons]="confirmName"
    [inputs]="inputName"
  >
  </ion-alert>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
