<ion-header [translucent]="true">
  <ion-title> SCHNITZELJAGD </ion-title>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="setOpen(true)">Teilnehmen</ion-button>
  <ion-alert
    [isOpen]="isAlertOpen"
    header="Name eingeben"
    [buttons]="confirmName"
    (didDismiss)="setOpen(false)"
  >
    <ion-item>
      <ion-input placeholder="Hier Name eingeben bitte"></ion-input>
    </ion-item>
  </ion-alert>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
