ion-title {
  font-size: 35px;
  padding-top: 20%;
  color: #0d0d0d;
}
ion-content::part(background) {
  background: white;
}

ion-button {
  --background: white;
  --background-activated: #a6a6a6;
  --background-focused: #00ff80;

  --color: #818181;
}
